         .nav li:hover {
        background: rgba(250,239,116,.4);
     /* background: rgba(174,0,0,.9);*/
    }

    body{
  background:url(bgheader3.jpg) no-repeat center center fixed;
  /*background-attachment: fixed;
  background-position-x: center !important;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
