@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,700,800,900);


@media screen and (max-width: 680px){
  .Hide{
    display: none;
  } 



 #Blog{
    margin-left: 8px;
 }

}



html {
  <!-- background: #111; -->
}

body{
  background:url(img/bg_chalk.jpg) no-repeat;
  background-attachment: fixed;
  background-position-x: center !important;
}

  body.lightboxed {
    height: 100%;
    overflow: hidden;
  }
.nav {
  top:0px;
  left:0px;
  height: 50px;
  width:100%;
  position:fixed;
  /*background-color: #222222;*/
  background: rgba(255,255,255,.77);
  z-index:2;
  display:block;
  font-family:Courier;

}


.nav .logo{
  position: absolute;
  margin-left: 10px;
  margin-right:10px;
  width: auto;
  cursor: pointer;
  opacity: .8;
  padding-right: 0px;
  margin-right: 0px;
}

.nav .logo a{
  background: url(img/logo_small_black.png) 0 0 no-repeat;
  font-size:0;
  display: block;
  width:34px;
  height:49px;
  opacity:0.5;
}



.nav .logo a:hover{
  opacity:1;
}


.nav ul .inPage{
  float:left;
}



.nav ul .icon{
  float:right;
}
.nav ul li {
  font-size: medium;
}
.nav ul li a {
text-decoration:none; 
 color:#1e1e1e;
}


.nav ul li.inPage a {
 padding: 16px 16px 16px 16px;
}



.nav ul li a:link {text-decoration:none;}
.nav ul li a:visited {text-decoration:none;}
.nav ul li a:hover {text-decoration:none; color:black;}
.nav ul li a:active {text-decoration:none; }

  .nav li {
    margin: -16px 0px 0px 0px;
    padding: 12px 0px 14px 0px;
    float: left;
    list-style: none;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000;
  }

    .nav a {
      color: #000;
    }
    li.icon a {
      background: url(img/radkeySocialIcons.png) 0 -16px no-repeat;
    }
      li.icon a.twitter {
        background: url(img/radkeySocialIcons.png) -16px -16px no-repeat;
      }
      li.icon a.instagram {
        background: url(img/radkeySocialIcons.png) -32px -16px no-repeat;
      }
      li.icon a.facebook {
        background: url(img/radkeySocialIcons.png) -0 -16px no-repeat;
      }
      li.icon a.youtube {
        background: url(img/radkeySocialIcons.png) -64px -16px no-repeat;
      }
      li.icon a.soundcloud {
        background: url(img/radkeySocialIcons.png) -80px -16px no-repeat;
      }


    .nav li.icon {
      padding: 16px 7px 18px 7px;
      line-height: 16px;
    }

    li.icon a {
        display: block;
        width: 16px;
        background: url(img/radkeySocialIcons.png) 0 0 no-repeat;
        font-size: 0;
    }

    #homeAbout{
      margin-left: 8px;
    }
