/*------------------------------------------------------- GENERAL */

@font-face {
  font-family: 'CourierRegular';
  src: url('http://arcadefire.com/reflektorpreorder/assets/font/cour-webfont.eot');
  src: url('http://arcadefire.com/reflektorpreorder/assets/font/cour-webfont.eot?#iefix') format('embedded-opentype'),
     url('http://arcadefire.com/reflektorpreorder/assets/font/cour-webfont.woff') format('woff'),
     url('http://arcadefire.com/reflektorpreorder/assets/font/cour-webfont.ttf') format('truetype'),
     url('http://arcadefire.com/reflektorpreorder/assets/font/cour-webfont.svg#CourierRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'CourierBold';
    src: url('http://arcadefire.com/reflektorpreorder/assets/font/courier-bold-webfont.eot');
    src: url('http://arcadefire.com/reflektorpreorder/assets/font/courier-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://arcadefire.com/reflektorpreorder/assets/font/courier-bold-webfont.woff') format('woff'),
         url('http://arcadefire.com/reflektorpreorder/assets/font/courier-bold-webfont.ttf') format('truetype'),
         url('http://arcadefire.com/reflektorpreorder/assets/font/courier-bold-webfont.svg#CourierBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  /*background: #111; */
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/*make background 'cover style' for various OS*/
body{
  /*background:url(bgheader1.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  background-position-x: center !important;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'CourierRegular', "Courier New", Courier, monospace !important;
}
}

body.lightboxed {
  height: 100%;
  overflow: hidden;
}

/*container element for each section of site */
.container {
  text-align: center;
}

/* home is the top 'splash' section of the website */
#home {
  height:100%;
  background: url('bgheader1.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* -------------------------------- NAVIGATION BAR  */ 
/* navbar properties */
.nav {
  /*top:0px;*/
  left:0px;
  height: 50px;
  width:100%;
  margin-top: -50px;
  /*position:fixed;*/
  position: absolute;
  /*background-color: #222222;*/
  background: rgba(0,0,0,.75);
  z-index:999;
  display:block;
  font-family:Courier;
}

.navbar-fixed {
  top: 0;
  z-index: 999;
  position: fixed;
  margin-top: 0px;
  background: rgba(0,0,0,.85);
}

.nav .logo{
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  cursor: pointer;
  opacity: .8;
}

.nav .logo a{
  background: url(img/logo_small_white.png) 0 0 no-repeat;
  font-size:0;
  display: block;
  width:34px;
  height:49px;
  opacity:0.7;
}

.nav .logo a:hover{
  opacity:1;
}

.nav ul .inPage{
  float:left;
}

.nav ul .icon{
  float:right;
}

.nav ul li a {
text-decoration:none; 
 color:#cdcdcd;
}

.nav ul li.inPage a {
 padding: 16px 16px 16px 16px;
}

.nav ul li a:link {text-decoration:none;}
.nav ul li a:visited {text-decoration:none;}
.nav ul li a:hover {text-decoration:none; color:#fff;}
.nav ul li a:active {text-decoration:none; }

.nav li {
  margin: -16px 0px 0px 0px;
  padding: 12px 0px 14px 0px;
  float: left;
  list-style: none;
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.nav a {
  color: #000;
}


li.icon a {
  background: url(img/radkeySocialIcons.png) 0 -0px no-repeat;
}

li.icon a.twitter {
  background: url(img/radkeySocialIcons.png) -16px -0px no-repeat;
}

li.icon a.instagram {
  background: url(img/radkeySocialIcons.png) -32px -0px no-repeat;
}

li.icon a.facebook {
  background: url(img/radkeySocialIcons.png) -0 -0px no-repeat;
}

li.icon a.youtube {
  background: url(img/radkeySocialIcons.png) -64px -0px no-repeat;
}

li.icon a.soundcloud {
  background: url(img/radkeySocialIcons.png) -80px -0px no-repeat;
}

.nav li.icon {
  padding: 16px 7px 18px 7px;
  line-height: 16px;
}

.nav li:hover {
  background: rgba(255,255,255,.1);
  /* background: rgba(174,0,0,.9);*/
}

li.icon a {
    display: block;
    width: 16px;
    background: url(img/radkeySocialIcons.png) 0 0 no-repeat;
    font-size: 0;
}

#homeAbout{
  margin-left: 8px;
}


/* -------------------------------- ALL GENERAL SECTIONS */ 
.sectionHeader{
  padding: 70px 0 0 0;
}

.sectionHeader img{
  width: 40%;
}

.sectionOverlay {
  height:100%;
  width:100%;
  background: rgba(0,0,0,.77);
}

.sectionContent {
  padding: 10px 0 0 0;
  text-align: center;
}


/* -------------------------------- ABOUT */ 

#band {
  background: #fff;
  width:100%;

  text-align: center;
  position: relative;
  z-index: 1; 
  font-family: Arial, sans-serif;
}

#band #bandp {
  width:100%;
  max-width: 400px;
}

#band h2 {
  padding-top: 50px;
}

#band .bio {
  color: #777;
  width: 45%;
  padding:0 50px 50px 0;
  float:right;
  text-align: justify;
  font-size: 14px;
  line-height: 28px;
}

/* -------------------------------- AUDIO */ 

#audio {
  background: url('bgheader2.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  margin: auto;
}

.albums{
  width: 100%;
  position:relative;
  text-align: center;

  height: 250px;
}

.albums img {
  /*border:10px solid #fff;*/
}

.albumartwork{
  width: 200px;
  margin: 5px 5px 5px 5px;
  z-index: 3;
}

.album {
    display:inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff 
}
.album .details, .album .content {
    width: 200px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.album img {
    display: block;
    position: relative;
    width:200px;
}
.album h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font: normal 400 17px Courier;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.album p {
    font: normal 400 12px 'carolineregular', "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important;
    position: relative;
    color: #000;
    padding: 10px 20px 20px;
    text-align: center
}
.album a.info {
    font: normal 400 14px Courier;
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: lowercase;

}
.album a.info:hover {
    color: #bbb;
}

.album img { 
    transition: all 0.2s linear;
}
.album .details {
    opacity: 0;
    background-color: rgba(255,255,255, 0.7); 
    transition: all 0.4s ease-in-out;
}
.album h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.album p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.album a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.album:hover img { 
    transform: scale(1.1);
} 
.album:hover .details { 
    opacity: 1;
}
.album:hover h2,
.album:hover p,
.album:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.album:hover p {
    transition-delay: 0.1s;
}
.album:hover a.info {
    transition-delay: 0.2s;
}


.drawer {
  -webkit-transform: translate3d(-1000px,0 , 0);
  -moz-transform: translate3d(-1000px, 0, 0);
  -o-transform: translate3d(-1000px, 0, 0);
  transform: translate3d(-1000px, 0, 0);
  -webkit-transition:-webkit-transform 0.25s linear;
  -moz-transition:-moz-transform 0.25s linear;
  -o-transition:-o-transform 0.25s linear;
  transition:transform 0.25s linear;
  z-index: 0;
  height: 100px;
}

.drawer.active {
  position:relative;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  z-index: 0;
}

.drawerContent{
  position:relative;
  font-family: Arial, sans-serif;
  color:#fff;
  z-index: 0;
}

a.dropdown{

}

.spotify {
  position: relative;
  padding-bottom: 0;
  height: 250px;
  width: 20%;
  margin: 0 3% 6% 3%;
}

.spotify:nth-child(even) {  
  margin: 0 0 6% 0;
}

.spotify iframe {
  width: 100%;
}

/* ----fallback css */

.no-csstransforms .top {
  position: static;
}

.no-csstransforms .drawer nav {
  display: none;
}

.no-csstransforms .drawer.active nav {
  display: block;
}


/* -------------------------------- VIDEO */ 

#video{
  width:100%;
  text-align: center;
  display: inline;
}

.embeddedVideo{
  margin:0 auto;
  width:50%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.vidButtons{
  padding: 10px 0 10px 0;
}

.vidButtons li {
  padding: 0 10px 0 10px;
  display:inline;
}

#video2, #video3{
  display: none;
}


#vid1, #vid2, #vid3{
  background-color: black;
  border:10px solid #ccc;
}


.clear {
  clear: both;
}


/* -------------------------------- LIVE */ 
#live{
  background: rgba(0,0,0,.85);
}

article.post-9 .entry table td {
  text-align: left !important;
}

#bit-widget-0, #bit-widget-0 a, .bit-widget-container {
  font-family: 'CourierRegular', "Courier New", Courier, monospace !important;
  font-size: 17px !important;
  line-height: 24px !important;

}

#bit-widget-0 #bit-events tbody tr td.bit-venue a, #bit-widget-0 a {
  font-weight: normal !important;
  font-family: 'CourierBold', "Courier New", Courier, monospace !important;
}

tr.bit-header, tr.bit-bottom, td.bit-rsvp, #bit-widget-0 th, td.bit-description-links {
  display: none;
}

#bit-widget-0 #bit-events tbody tr td.bit-date {
  width: 13% !important;
}

#bit-widget-0 #bit-events tbody tr td.bit-venue {
  width: 50% !important;
}

#bit-widget-0 #bit-events tbody tr td.bit-venue a {
  font-size: 19px !important;
}

#bit-widget-0 #bit-events tbody tr td.bit-location {
  width: 30% !important;
}

article.post-9 a, article.post-9 a:visited {
  color: #ffffff;
  font: normal 400 18px/24px 'carolineregular', "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important;
}

article.post-9 a.bit-buy-tix {
  display: block;
  background-color: #222222;
  color: #ffffff;
  text-decoration: none;
  margin: 10px 0;
  padding: 5px 10px;
}

article.post-9 a.bit-buy-tix:hover {
  background-color: #666666;
}

tr#bit-event-7132928 td.bit-date a:after {
  content:" - May 31";
}


/* ------------------------------------------------------- FOOTER */

#footer{
  background: #232323;
}

#socialfooter {
  color: #fff;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  margin: 25px 0 50px;
}

#socialfooter a img {
  margin: 0 2px;
}

#footercredit {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #FFF;
}



/* ------------------------------------------------------- SIZE CHANGE */


@media screen and (max-width: 680px){

   #homeAbout{
      margin-left: 0px;
    }

.nav ul .inPage{
  float:none;
  display: inline;
}
.nav{
  text-align: center;
  height: 91px;
  margin-top: -90px;
}

.navbar-fixed {
  top: 0;
  z-index: 999;
  position: fixed;
  margin-top: 0px;
  background: rgba(0,0,0,.85);
}

.nav ul li {
  font-size: small;
}
.nav ul{
  margin-left: -40px;
  clear:both;
}


.nav ul li.inPage a{
 padding: 16px 5px 16px 5px;

}



.nav .logo{
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 10px;
  float: left;
  position: relative;
  opacity: 1;
}


 li.icon {
    display:none;
 }

.sectionHeader{
  padding: 120px 0px 20px 0px;
}

.sectionHeader img{
  width: 60%;
}

}


/* ------------------------------------------------------- SIZE CHANGE */


@media screen and (min-width: 681px) and (max-width: 2000px){

  .nav ul li {
    font-size: medium;
  }


 #Blog{
    margin-left: 8px;
 }

}