@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,700,800,900);


@media screen and (max-width: 680px){

  .nav ul li {
    font-size: x-small;
  }

  li.icon {
    display:none;
 }

}

@media screen and (min-width: 681px) and (max-width: 2000px){

  .nav ul li {
    font-size: medium;
  }


 #Blog{
    margin-left: 8px;
 }

}

html {
  <!-- background: #111; -->
}

body{
  background:url(bgheader1.jpg) no-repeat center center fixed;
  /*background-attachment: fixed;
  background-position-x: center !important;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.lightboxed {
  height: 100%;
  overflow: hidden;
}

.nav {
  top:0px;
  left:0px;
  height: 50px;
  width:100%;
  position:fixed;
  /*background-color: #222222;*/
  background: rgba(0,0,0,.75);*/
  z-index:999;
  display:block;
  font-family:Courier;
}

.nav .logo{
  position: absolute;
  margin-left: 10px;
  margin-right:10px;
  width: auto;
  cursor: pointer;
  opacity: .8;

}

.nav .logo a{
  background: url(img/logo_small_white.png) 0 0 no-repeat;
  font-size:0;
  display: block;
  width:34px;
  height:49px;
  opacity:0.7;
}


.nav .logo a:hover{
  opacity:1;
}


.nav ul .inPage{
  float:left;
}

.nav ul .icon{
  float:right;
}

.nav ul li a {
text-decoration:none; 
 color:#cdcdcd;
}

.nav ul li.inPage a {
 padding: 16px 16px 16px 16px;
}

.nav ul li a:link {text-decoration:none;}
.nav ul li a:visited {text-decoration:none;}
.nav ul li a:hover {text-decoration:none; color:#fff;}
.nav ul li a:active {text-decoration:none; }

.nav li {
  margin: -16px 0px 0px 0px;
  padding: 12px 0px 14px 0px;
  float: left;
  list-style: none;
  font-weight: 100;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.nav a {
  color: #000;
}


li.icon a {
  background: url(img/radkeySocialIcons.png) 0 -0px no-repeat;
}

li.icon a.twitter {
  background: url(img/radkeySocialIcons.png) -16px -0px no-repeat;
}

li.icon a.instagram {
  background: url(img/radkeySocialIcons.png) -32px -0px no-repeat;
}

li.icon a.facebook {
  background: url(img/radkeySocialIcons.png) -0 -0px no-repeat;
}

li.icon a.youtube {
  background: url(img/radkeySocialIcons.png) -64px -0px no-repeat;
}

li.icon a.soundcloud {
  background: url(img/radkeySocialIcons.png) -80px -0px no-repeat;
}


.nav li.icon {
  padding: 16px 7px 18px 7px;
  line-height: 16px;
}

.nav li:hover {
  background: rgba(255,255,255,.1);
  /* background: rgba(174,0,0,.9);*/
}

li.icon a {
    display: block;
    width: 16px;
    background: url(img/radkeySocialIcons.png) 0 0 no-repeat;
    font-size: 0;
}

#homeAbout{
  margin-left: 8px;
}


#homepage {
  width: 100%;
  height: 730px;
  text-align: center;
  overflow: hidden;
  position: relative;
  z-index: 0;


}

#homepage h1 {
  margin: 0px;
  color: #db0000;
  font: 220px/1 'Open Sans';
  font-weight: 900;
  opacity: .6;
  padding-top: 230px;
  letter-spacing: -10px;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

#homepage h2 {
  color: #fff;
  opacity: .8;
  font-weight: 900;
  font-style: normal;
  line-height: 0px;
  padding: 0px;
  cursor: pointer;
  white-space: nowrap;
}

#homepage h3 {
  color: #fef200;
  font-weight: 900;
  font-size: 40px;
  opacity: .8;
  margin: 0px;
  cursor: pointer;
}


#band {
  background: #fff;
  width:100%;
  text-align: center;
  position: relative;
  z-index: 0; 
}
#band #bandp {
  width:100%;
  max-width: 400px;
}
#band h2 {
  padding-top: 80px;
}
#band .bio {
  color: #777;
  width: 45%;
  padding:0 50px 50px 0;
  float:right;
  text-align: justify;
  font-size: 14px;
  line-height: 28px;
}

.clear {
  clear:both;
}
